html {
  @apply whitespace-pre-line;
}

div {
  @apply transition-[background-color] duration-1000;
}

/*** typography ***/
.h1 {
  @apply text-[2.875rem] leading-[1.2em] font-bold;
}

.h2 {
  @apply text-[2rem] leading-[1.2em] font-bold lg:text-[2.5rem];
}

.h3 {
  @apply text-[2.0875rem] leading-[1.2em] font-bold tracking-[-0.0375rem];
}

.h4 {
  @apply text-[1.6875rem] leading-[1.2em] font-bold tracking-[-0.03375rem];
}

.body-small {
  @apply text-sm leading-[1.44rem] font-medium;
}

.body-medium {
  @apply text-base leading-[1.44rem] font-medium;
}

.body-large {
  @apply text-lg leading-[1.39rem] font-medium;
}

/*** button ***/
.button {
  @apply flex cursor-pointer flex-row items-center justify-center gap-2 rounded-full border-2 border-solid border-transparent bg-transparent px-6 py-2 font-medium text-black no-underline transition-colors duration-300;
  font-family: var(--font-inter);

  &:hover {
    @apply border-gray-300 bg-gray-300;
  }

  &:active {
    @apply bg-primary border-gray-200 text-white;
  }

  &:disabled {
    @apply cursor-not-allowed border-gray-200 bg-gray-200 text-gray-400;
  }
}

.button-outlined {
  @apply border-primary text-primary;

  &:hover {
    @apply border-gray-500 text-black;
  }

  &:active {
    @apply border-primary;
  }

  &:disabled {
    @apply cursor-not-allowed border-gray-500;
  }
}

.button-contained {
  @apply border-primary bg-primary text-white;

  &:hover {
    @apply text-black;
  }

  &:active {
    @apply text-white;
  }

  &:disabled {
    @apply text-gray-400;
  }
}

.underline-animation {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::before {
  transform: translateX(0);
}

.vertical-separator {
  @apply w-[2px] bg-black dark:bg-white;
}

input,
textarea {
  @apply bg-white;
}
